/*
 * Globals
 */

/* VIDEO CSS INDEX STUFF */
/* #helma_background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

#title_text {
  font-family: 'Press Start 2P', cursive;
  text-shadow: 0 0.5rem .1rem rgba(20, 0, 0, .5)
} */
/* END VIDEO CSS INDEX STUFF */

/* TEMP SITE START CSS */

body {
  color: #101010;
}

.navbar {
  background-color: #10952D !important;
}

.site-title {
  font-family: 'Vollkorn', serif;
  font-size: 1.75rem;
}

h1, h2, h3 {
    font-family: 'Vollkorn', serif;
}

h1 {
  margin-top: 3rem;
}

h2 {
  margin-top: 1.75rem;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}

.dropdown-toggle::after {
  content: none !important;
}

.navbar-toggler-icon {
  transform: translate(0, -6px);
}

.navbar {
  padding-bottom: 0 !important;
}

.a-no-dec {
  text-decoration: none;
  color: black;
  margin-left: 0.5rem;
  font-size: 32px;
}

.bi-discord::before, .bi-github::before, .bi-youtube::before, .bi-twitch::before {
  transform: translate(0, -6px);
}


.sneakops {
  color: red;
}

/* END TEMP SITE START CSS */